@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Playpen+Sans:wght@100..800&display=swap');

*{
    font-family: "Playpen Sans", cursive;
    margin: 0;
    padding: 0;
}


.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
}

.card {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 1rem;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.image {
    width: 100%;
    border-radius: 8px;
}


.input_field{
    height: 60px;
    width: 300px;
    padding-left: 10px;

}
button{
    padding: 17px 30px;
}